# Ignore compiled Python files
*.pyc

# Ignore virtual environment
venv/

# Ignore local configuration files
.env

# Ignore Visual Studio Code settings
.vscode/

# Ignore core files
./core/**

# Ignore long term memory files
long_term_memory/**

# Ignore cache files
cache/**

